HTTP_PORT=3005
SOCKET_PORT=3006
ALLOWED_ORIGIN=["*"]
NODE_ENV=dev
IP=89.0.142.86

MONGODB_URI='mongodb://<user>:<password>@<host>:<port>/<db>'
RABBIT_MQ_URI='amqp://<user>:<password>@<host>:<port>/<vhost>'

RABBIT_MQ_AUTH_QUEUE=auth
RABBIT_MQ_NOTIFICATION_QUEUE=notification


JWT_SECRET=f6baa1754cead725e01ed
JWT_EXPIRATION=10h



SMTP_HOST=smtp.gmail.com
SMTP_MAIL=1bB4w@example.com
SMTP_PASSWORD=password
SMTP_SERVICE=gmail
SMTP_PORT=465
TEMPLATE_LOCATION=./templates

REDIS_URL=redis://<user>:<password>@<host>:<port>
AES_KEY=a142cc238ea71307158d11cbd6cf7368f787ec233a4d7f7



AWS_S3_ACCESS_KEY_ID=key
AWS_S3_SECRET_ACCESS_KEY=secret
AWS_S3_BUCKET_NAME=pasdt-ems-assets
AWS_S3_REGION=ap-south-1
